# 기본 .NET 파일 및 디렉토리 무시
bin/
obj/
*.user
*.suo
*.log
*.lock
*.vspscc
*.vssscc
.vscode/
*.sln.docstates

# 빌드 출력 파일 무시
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.idb
*.lib
*.obj
*.so
*.so.*
*.dylib
*.class

# Visual Studio 및 JetBrains Rider 관련
.idea/
.vs/
_ReSharper*/
*.DotSettings.user

# NuGet 관련
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

# 환경 설정 파일
*.env
.env.local
.env.*.local

# 기타
.DS_Store
Thumbs.db